@{
    ViewData["Title"] = "Početna stranica";
}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="text-center">
            <b>
                <font size="15">
                    <script>

                        var text = "Vozdra raja"
                        var speed = 200



                        if (document.all || document.getElementById) {
                            document.write('<span id="highlight">' + text + '</span>')
                            var storetext = document.getElementById ? document.getElementById("highlight") : document.all.highlight
                        }
                        else
                            document.write(text)
                        var hex = new Array("00", "14", "28", "3C", "50", "64", "78", "8C", "A0", "B4", "C8", "DC", "F0")
                        var r, g, b;
                        function changetext() {
                            r = Math.floor((Math.random() * 12) + 1)
                            g = Math.floor((Math.random() * 12) + 1)
                            b = Math.floor((Math.random() * 12) + 1)
                            rainbow = "#" + hex[r] + hex[g] + hex[b]
                            storetext.style.color = rainbow
                        }
                        function starteffect() {
                            if (document.all || document.getElementById)
                                flash = setInterval("changetext()", speed)
                        }
                        starteffect()
                    </script>
                    </font>
            </b>
        </div>
        
    </body>



      
