@using BestDeal.ViewModels
@model HomeViewModel

@{
    await Html.RenderPartialAsync("ArtikalCarouselPocetna");
}
<h2>Istaknuti artikli</h2>
<div class="row">
    @foreach (var artikal in Model.odabraniArtikli)
    {
        @await Html.PartialAsync("ArtikalCarouselPregled", artikal)
    }
</div>