
<h3 class="text-center text-info">
    Artikli
</h3>
<a class="btn btn-block btn-success active" asp-controller="Artikli" asp-action="AddOrEdit">Dodaj artikal</a>
<a class="btn btn-block active btn-md btn-info" asp-controller="Artikli" asp-action="Edit" asp-route-id=>Uredi artikal</a>

<button type="button" class="btn btn-block active btn-md btn-info">
    Button
</button>
<button type="button" class="btn active btn-block btn-warning">
    Button
</button>
<button type="button" class="btn active btn-block btn-outline-danger">
    Button
</button>