
<h3 class="text-center text-info">
    Artikli
</h3>
<a class="btn btn-block btn-success active" asp-controller="Artikli" asp-action="AddOrEdit">Dodaj artikal</a>
<a class="btn btn-block btn-info active" asp-controller="Artikli" asp-action="Index">Pregledaj sve artikle</a>
<a class="btn btn-block btn-warning active" asp-controller="Statistika" asp-action="Index">Statistika artikala</a>