@model BestDeal.Models.Artikal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Artikal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CijenaArtikla" class="control-label"></label>
                <input asp-for="CijenaArtikla" class="form-control" />
                <span asp-validation-for="CijenaArtikla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazivArtikla" class="control-label"></label>
                <input asp-for="NazivArtikla" class="form-control" />
                <span asp-validation-for="NazivArtikla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KratkiOpis" class="control-label"></label>
                <input asp-for="KratkiOpis" class="form-control" />
                <span asp-validation-for="KratkiOpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetaljniOpis" class="control-label"></label>
                <input asp-for="DetaljniOpis" class="form-control" />
                <span asp-validation-for="DetaljniOpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLSlike1" class="control-label"></label>
                <input asp-for="URLSlike1" class="form-control" />
                <span asp-validation-for="URLSlike1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLMaleSlike1" class="control-label"></label>
                <input asp-for="URLMaleSlike1" class="form-control" />
                <span asp-validation-for="URLMaleSlike1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="form-group">

        @*<label asp-for="IDProduktgruppe" class="control-label"></label>

            <input asp-for="IDProduktgruppe" class="form-control" />

            <span asp-validation-for="IDProduktgruppe" class="text-danger"></span>*@





        <label asp-for="TipArtikla" class="control-label"></label>
        <select asp-for="TipArtikla"
                asp-items="@(new SelectList(ViewBag.tipovi, "Ime"))"></select>



    </div>
</div>
<label asp-for="TipArtikla" class="control-label"></label>
<select asp-for="TipArtikla"
        asp-items="@(new SelectList(ViewBag.tipovi, "Ime"))"></select>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
