@model BestDeal.Models.Artikal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artikal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CijenaArtikla" class="control-label"></label>
                <input asp-for="CijenaArtikla" class="form-control" />
                <span asp-validation-for="CijenaArtikla" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdArtikla" />
            <div class="form-group">
                <label asp-for="NazivArtikla" class="control-label"></label>
                <input asp-for="NazivArtikla" class="form-control" />
                <span asp-validation-for="NazivArtikla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KratkiOpis" class="control-label"></label>
                <input asp-for="KratkiOpis" class="form-control" />
                <span asp-validation-for="KratkiOpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetaljniOpis" class="control-label"></label>
                <input asp-for="DetaljniOpis" class="form-control" />
                <span asp-validation-for="DetaljniOpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLSlike1" class="control-label"></label>
                <input asp-for="URLSlike1" class="form-control" />
                <span asp-validation-for="URLSlike1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLMaleSlike1" class="control-label"></label>
                <input asp-for="URLMaleSlike1" class="form-control" />
                <span asp-validation-for="URLMaleSlike1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
