@using BestDeal.ViewModels
@using System.Globalization


<div class="row setup-content" id="step-1">
    <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <h3>Korak 1</h3>
            <div class="form-group">
                <label class="control-label">Ime</label>
                <input maxlength="100" type="text" class="form-control" placeholder="Unesite vaše ime" />
            </div>
            <div class="form-group">
                <label class="control-label">Prezime</label>
                <input maxlength="100" type="text" class="form-control" placeholder="Unesite vaše prezime" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Unesite vaš email" />
            </div>
            <div class="form-group">
                <label class="control-label">Adresa</label>
                <textarea required="required" class="form-control" placeholder="Unesite vašu adresu"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row setup-content" id="step-2">
    <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <h3>Korak 2</h3>
            <div class="form-group">
                <label class="control-label">Ime kompanije</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Unesi ime kompanije" />
            </div>
            <div class="form-group">
                <label class="control-label">Adresa kompanije</label>
                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Unesi adresu kompanije" />
            </div>
        </div>
    </div>
</div>
<div class="row setup-content" id="step-3">
    <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <h3>Korak 3</h3>
            <article class="card">
                <div class="card-body p-5">

                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                <i class="fa fa-credit-card"></i> Plaćanje karticom
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                <i class="fab fa-paypal"></i>  Plaćanje putem PayPala
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                <i class="fa fa-university"></i>  Žiralno plaćanje
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-tab-card">
                            <p class="alert alert-success">Uspješno ste platili!</p>
                            <form>
                                <div class="form-row">
                                    <label for="username">Puno ime i prezime (na Vašoj kartici)</label>
                                    <input type="text" class="form-control" name="username" placeholder="Ime i prezime" required>
                                    <div class="invalid-feedback">
                                        Molimo unesite vaše ime i prezime.
                                    </div>
                                </div> <!-- form-group.// -->

                                <div class="form-group">
                                    <label for="cardNumber">Broj kartice</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted">
                                                <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>
                                                <i class="fab fa-cc-mastercard"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div> <!-- form-group.// -->

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration</span> </label>
                                            <div class="form-inline">
                                                <select class="form-control" style="width:45%">
                                                    <option>MM</option>
                                                    <option>01 - Januar</option>
                                                    <option>02 - Februar</option>
                                                    <option>03 - Mart</option>
                                                    <option>04 - April</option>
                                                    <option>05 - Maj</option>
                                                    <option>06 - Juni</option>
                                                    <option>07 - Juli</option>
                                                    <option>08 - August</option>
                                                    <option>09 - Septembar</option>
                                                    <option>10 - Oktobar</option>
                                                    <option>11 - Novembar</option>
                                                    <option>12 - Decembar</option>
                                                </select>
                                                <span style="width:10%; text-align: center"> / </span>
                                                <select class="form-control" style="width:45%">
                                                    <option>YYYY</option>
                                                    <option>2019</option>
                                                    <option>2020</option>
                                                    <option>2021</option>
                                                    <option>2022</option>
                                                    <option>2023</option>
                                                    <option>2024</option>
                                                    <option>2025</option>
                                                    <option>2026</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" title="" data-original-title="Trocifreni broj na poleđini vaše kartice">CVV <i class="fa fa-question-circle"></i></label>
                                            <input type="number" class="form-control" required="">
                                        </div> <!-- form-group.// -->
                                    </div>
                                </div> <!-- row.// -->
                                <button class="btn btn-primary btn-sm" type="button"> Potvrdi  </button>
                            </form>
                        </div> <!-- tab-pane.// -->
                        <div class="tab-pane fade" id="nav-tab-paypal">
                            <p>PayPal je odličan izbor</p>
                            <p>
                                <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i>Plati putem PayPal računa    </button>
                            </p>
                            <p>
                                <strong>Note:</strong> PayPal je najsigurniji način plaćanja.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-tab-bank">
                            <p>Uputa za uplatu:</p>
                            <dl class="param">
                                <dt>BANK: </dt>
                                <dd> THE WORLD BANK</dd>
                            </dl>
                            <dl class="param">
                                <dt>Broj računa: </dt>
                                <dd> 12345678912345</dd>
                            </dl>
                            <dl class="param">
                                <dt>IBAN: </dt>
                                <dd> 123456789</dd>
                            </dl>
                            <p>
                                <strong>Note:</strong> Ponekad je potrebno 48h da bi se novac pojavio na našem računu. Molimo budite strpljivi.
                            </p>
                        </div> <!-- tab-pane.// -->
                    </div> <!-- tab-content .// -->

                </div> <!-- card-body.// -->
            </article> <!-- card.// -->
        </div> <!-- row.// -->

    </div>
</div>
