@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BestDeal.ViewModels
@model ArtikliViewModel

    <div class="row">
        @{
            foreach (Artikal artikal in Model.artikli)
            {
                @await Html.PartialAsync("ArtikalPregled", artikal)
            }
        }
    </div>
</div>