@model Artikal

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.URLMaleSlike1" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Model.CijenaArtikla.ToString("c")</h3>
            <h3>
                <a>@Model.NazivArtikla</a>
            </h3>
            <p>@Model.KratkiOpis</p>
        </div>
    </div>
</div>